*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
body{
    background-image: url(img/background.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container{
    width: 80%;
    height: 100vh;
    border: 1px solid black;
    background-color: rgba(70, 64, 64,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    border: none;
    
}
.screen{
    width: 70%;
    height: 5rem;
    background-color: antiquewhite;
    box-shadow: 0 5px 5px antiquewhite;
    border:none;
    position: relative;
    margin-bottom: 3rem;
}

.room{
    display: flex;
}




.seat{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px ;
    width: 80%;
    height: 30vh;
}


.seat:nth-last-child(4){
    margin-right: 3rem;
    
}
.seat:nth-last-child(3){
    rotate: 340deg;
}

.seat:nth-last-child(2){
    rotate: 340deg;
    
}
.seat:nth-last-child(1){
    rotate: 340deg;
}

.seat:nth-child(3){
    margin-right: 3rem;
}

.seat:nth-child(1){
    rotate:20deg;
}

.seat:nth-child(2){
    rotate:20deg;
}
.seat:nth-child(3){
    rotate:20deg;
}
.chair {
   width: 50px;
   height: 50px;
   display: flex;
   color:white;
}
.chair:hover{
    cursor: pointer;
    font-size: 1.25rem;
}
.payment{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    height: 8vh;

    margin-bottom: 2rem;
}

.seatChoose i {
    margin-left: 1rem;
    color: white;
    letter-spacing: .2rem;
}
.seatChoose  .choosen{
   color:yellow;
}
.seatChoose .reserved{
  color:red;
}

